<html>

<head>
    <title>Hello Page</title>
</head>
<body>
    <h1> {{ message }} </h1>
    <ul>
        {% for order in orders %}
            <li>
                Order #{{ order.id }} - Placed at: {{ order.placed_at }} - Customer: {{ order.customer.first_name }}
                <ul>
                    {% for item in order.orderitem_set.all %}
                        <li>
                            Product: {{ item.product.title }} - Quantity: {{ item.quantity }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {{ orderhave.total_items }}
    {{ product1.total_products }}
    {{ customer1.total_orders }}
    <h2>Products in Collection 3</h2>
    <ul>
        {% for product in collection3 %}
            <li>
                {{ product.title }} - Min Price: {{ product.min_price }} - Max Price: {{ product.max_price }} - Avg Price: {{ product.avg_price }}
            </li>
        {% endfor %}
    <!-- <ul>
        {% for item in order_items %}
            <li>
                Order Item #{{ item.id }} - Product: {{ item.product.title }} - Quantity: {{ item.quantity }}
            </li>
        {% endfor %}
    </ul> -->
    <!-- <ul>
        {% for product in products %}
            <li>
                {{ product.title }} - {{ product.collection.title }} 
                {% for promo in product.promotions.all %}
                    ({{ promo.description }})
                {% endfor %}
            </li>
        {% endfor %}
    </ul> -->
</body>

</html>